* {
    box-sizing: border-box;
}
body {
    padding: 40px;
}
#container {
    width: 1600px;
    border: 2px solid red;
}
#grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 20px;
}
.item {
    padding: 20px;
    font-size: 24px;
    text-align: center;
    background-color: #fcbf16;
    border-radius: 5px;
}

#A {
    grid-column-start: 1;
    grid-column-end: 3;
}
#B {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
