* {
    box-sizing: border-box;
}
body {
    padding: 80px;
}
#container {
    margin: 0 auto;
    width: 1400px;
    border: 2px solid red;
}
#grid {
    display: grid;
    grid-template-columns: 250px auto 250px;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-gap: 20px;
}
.item {
    padding: 10px;
    font-size: 24px;
    text-align: left;
    background-color: #fcbf16;
    border-radius: 5px;
}

#header {
    grid-column: 1 / 4;
    grid-row: 1/2;
}
#footer {
    grid-column: 1 / 4;
    grid-row: 3/4;
}
